{% extends 'blog/base.html' %}
{% load static %}


{% block title %}
    Blog
{% endblock title %}
    
{% block context %}

        
            <!--Blog Title-->
                <h4 class="text-secondary mb-5 ml-5 mt-5">Blog Details</h4>
            <!--End Blog Title-->



            <div class="border p-3 mb-3  post-whith">
                <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;"
                    src="" alt="صورة الناشر">
                <span class="text-secondary">Created at {{post.post_date|date:'d-m-Y'}}</span>
                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
            </div>

{% endblock context %}