{% extends 'blog/base.html' %}
{% load static %}


{% block title %}
    Blog
{% endblock title %}
    
{% block context %}

        
            <!--Blog Title-->
                <h4 class="text-secondary mb-5 ml-5 mt-5">Blogs</h4>
            <!--End Blog Title-->



            {% for post in posts %}
            <div class="border p-3 mb-3  post-whith">
                <img class="img-fluid rounded-circle border m-2" style="width: 70px; height:70px;object-fit: cover;"
                    src="{{post.author.profile.image.url}}" alt="صورة الناشر">
                <span class="text-secondary">Created at {{post.post_date|date:'d-m-Y'}}</span>
                <h3><a class="text-dark" href="{% url 'detail' post.id %}">{{post.title}}</a></h3>
                <p>{{post.content}}</p>
            </div>
          {% endfor %}      

          {% include 'blog/pagination.html' with page=posts %}

{% endblock context %}
    